.Layout {
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 80%;
    min-height: 400px;
    transition: height .3s ease-in;
}

.Layout > .header {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background: #000;
}